body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}
main 
.menuLabels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h4 {
    font-weight: bold;
    font-size: 20px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

span {
    margin-top: 5px;
}

h4 {
    font-size: 35px;
}

.mainInfo {
    border-left: solid #69696a;
    padding: 10px;

}

.blackButton {
    background-color: #000;
    height: 30px;
    border-radius: 15px;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.bottomButton {
    background-color: #000;
    height: 30px;
    border-radius: 15px;
    color: white;
    padding: 5px;
    position: relative;
    justify-content: center;
    display: flex;
    justify-content: center;
}

.circleWrapper {
    display: none;
}

@media only screen and (min-width: 480px) {
    .circleWrapper {
        display: flex;
        position: relative;
        width: 100px;
        height: 100px;
    }
    .circleOne {
        width: 100px;
        height: 100px;
        background-color: rgba(247, 136, 167, 0.6);
        border-radius: 50%;
        position: absolute;
        left: 550%;
        top: 58%;
    }
    .circleTwo {
        width: 70px;
        height: 70px;
        background: rgba(207, 130, 213, 0.6);
        border-radius: 50%;
        position: absolute;
        left: 600%;
        bottom: 1%;
    }
    .circleThree {
        width: 100px;
        height: 100px;
        background: rgba(247, 193, 162, 0.7);
        border-radius: 50%;
        position: absolute;
        left: 585%;
        bottom: -67%;
    }
    .blackButton {
        background-color: #000;
        height: 30px;
        border-radius: 15px;
        color: white;
        padding: 5px;
    }

    .bottomButton {
        background-color: #000;
        height: 30px;
        border-radius: 15px;
        color: white;
        padding: 5px;
        position: relative;
        justify-content: center;
    }
